/* font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
 */










body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #21ee3c;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    /* top: 0; */
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.505);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    /* align-items: center;
    display: flex;
    justify-content: center; */
    /* display: flex; */
   align-items: center;
   justify-content: center;
   /* height: 100vh;
   margin: 0; */
   /* margin-top: 100px; */
   margin: auto;
   margin-top: 150px;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 80%;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #07a0f9;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: auto;
    /* background-size: cover; */
}
@media (min-aspect-ratio:16/9) {
    .background-clip{width: 100%;
    height: auto;}
}

@media (max-aspect-ratio:16/9) {
    .background-clip{width: auto;
    height: 100%;}
}
